name: pull-sync
on:
  workflow_dispatch:
  schedule:
    - cron: 0 * * * *
  push:
jobs:
  delete-old-workflow-runs:
    runs-on: ubuntu-latest
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0.02
        keep_minimum_runs: 1

  autosync:
    runs-on: ubuntu-latest
    steps:
    - name: NekoInverter-Ehviewer
      run: |
        git clone --bare https://gitlab.com/NekoInverter/EhViewer.git
        cd EhViewer.git
        git push --force --mirror https://keepsobp:${{ secrets.access_token }}@github.com/keepsobp/Ehviewer-NekoInverter-Mirror.git

    - name: e-hentai-view
      uses: wei/git-sync@v3
      with:
        source_repo: "IronKinoko/e-hentai-view"
        source_branch: "master"
        destination_repo: "https://keepsobp:${{ secrets.access_token }}@github.com/keepsobp/e-hentai-view.git"
        destination_branch: "master"
