name: pull-sync
on:
  workflow_dispatch:
  schedule:
    - cron: */10 * * * *
  push:
jobs:
  delete-old-workflow-runs:
    runs-on: ubuntu-latest
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 1

  autosync:
    runs-on: ubuntu-latest
    steps:
    - name: NekoInverter-Ehviewer
      run: |
        git clone --bare https://gitlab.com/NekoInverter/EhViewer.git
        cd EhViewer.git
        git push --force --mirror https://keepsobp:${{ secrets.access_token }}@github.com/keepsobp/Ehviewer-NekoInverter-Mirror.git

    - name: e-hentai-view
      uses: wei/git-sync@v3
      with:
        source_repo: "IronKinoko/e-hentai-view"
        source_branch: "master"
        destination_repo: "https://keepsobp:${{ secrets.access_token }}@github.com/keepsobp/e-hentai-view.git"
        destination_branch: "master"

    - name: chimu.moe-i18n
      uses: wei/git-sync@v3
      with:
        source_repo: "Chimu-moe/i18n"
        source_branch: "main"
        destination_repo: "https://keepsobp:${{ secrets.access_token }}@github.com/keepsobp/chimu.moe-i18n-kr.git"
        destination_branch: "main"

    - name: chimu.moe-i18n
      uses: wei/git-sync@v3
      with:
        source_repo: "yuliskov/SmartTubeNext"
        source_branch: "master"
        destination_repo: "https://keepsobp:${{ secrets.access_token }}@github.com/keepsobp/SmartTubeNext.git"
        destination_branch: "master"
     
