name: Pull-sync
on:
  workflow_dispatch:
  schedule:
    - cron: 00 */1 * * *
  push:
jobs:
  autosync:
    runs-on: ubuntu-latest
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0.02
        keep_minimum_runs: 3

    - name: NekoInverter-Ehviewer
      run: |
        git clone --bare https://gitlab.com/NekoInverter/EhViewer.git
        cd EhViewer.git
        git push --force --mirror https://github.com/keepsobp/Ehviewer-NekoInverter-Mirror.git

